<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>scriptme.alfred.googletranslate</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>29DF96C9-BB14-45DF-B797-5427A4221DD8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D4855B2C-E8F1-455A-A032-ACB430E8D19C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3D812156-6A07-474D-AB9C-C0D3B6DC0ECF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6D5E0BC8-BB35-4DE4-A613-5F8486B3C5CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29DF96C9-BB14-45DF-B797-5427A4221DD8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F6AD7144-A500-4CBC-81FE-1BCD819AAF39</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open request on Google website</string>
			</dict>
		</array>
		<key>F6AD7144-A500-4CBC-81FE-1BCD819AAF39</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61046C6D-24FB-492C-BF76-584619DB729F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Thomas Hempel</string>
	<key>description</key>
	<string>Translation using Google V2.2.2</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Google Translate</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Translation copied to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D4855B2C-E8F1-455A-A032-ACB430E8D19C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>$in = explode('|', "{query}");
echo stripslashes($in[1]);</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>29DF96C9-BB14-45DF-B797-5427A4221DD8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>translate</string>
				<key>script</key>
				<string>require_once 'googleTranslate.php';
googleTranslate("{query}");
</string>
				<key>subtext</key>
				<string>translate {from&gt;to OR to&lt;from OR to} {searchword}</string>
				<key>title</key>
				<string>Translate to language</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6D5E0BC8-BB35-4DE4-A613-5F8486B3C5CD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3D812156-6A07-474D-AB9C-C0D3B6DC0ECF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>$in = explode('|', "{query}");
echo $in[0];
 </string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F6AD7144-A500-4CBC-81FE-1BCD819AAF39</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>open {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>61046C6D-24FB-492C-BF76-584619DB729F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Uses Google to translate from any language to any other that is supported by Google.

It displays all possible translations that Google has to offer.</string>
	<key>uidata</key>
	<dict>
		<key>29DF96C9-BB14-45DF-B797-5427A4221DD8</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>3D812156-6A07-474D-AB9C-C0D3B6DC0ECF</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>61046C6D-24FB-492C-BF76-584619DB729F</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>6D5E0BC8-BB35-4DE4-A613-5F8486B3C5CD</key>
		<dict>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>D4855B2C-E8F1-455A-A032-ACB430E8D19C</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>F6AD7144-A500-4CBC-81FE-1BCD819AAF39</key>
		<dict>
			<key>ypos</key>
			<real>350</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
